<div class="container">
  <h2>Waiting Jobs</h2>
  <% if @jobs.size > 0 %>
  <ul>
    <% @jobs.each do |job| %>
    <li><%= job %>
    <% end %>
  </ul>
  <% else %>
    None
  <% end %>

  <h2>Workers</h2>

  <% if @workers.size > 0 %>
  <ul>
    <% @workers.each do |worker| %>
      <% if worker.job.empty? %>
      <li><%= worker.to_s %> Idle</li>
      <% else %>
      <li><%= worker.to_s %> Downloading <%= worker.job["payload"]["args"].first["url"] %></li>
      <% end %>
    <% end %>
  </ul>
  <% else %>
    None
  <% end %>

  <h2>Failed jobs</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Time (local)</th>
        <th scope="col">URL</th>
        <th scope="col">Options</th>
        <th scope="col">Error</th>
      </tr>
    </thead>
    <tbody>
      <% @resque_failure.all(1, 10).each do |job| %>
      <tr>
        <th scope="row"><%= DateTime.parse(job["failed_at"]).strftime("%Y/%m/%d %H:%M") %></td>
        <% arg = job["payload"]["args"].first %>
        <td><a href="<%= arg["url"] %>" target="_blank"><%= arg["url"] %></a></td>
        <td>
          <% arg.each do |k, v| %>
            <% next if k == "url" %>
            <% if v == "" %>
              <span class="badge rounded-pill bg-secondary"><%= k %></span></h1>
            <% else %>
              <span class="badge rounded-pill bg-secondary"><%= k %>:<%= v %></span></h1>
            <% end %>
          <% end %>
        </td>
        <td><code data-toggle="tooltip" title="<%= job["backtrace"].join("\n") %>"><%= job["error"] %></code></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
