<div class="container">
  <form method="post" action="">
    <fieldset>
      <% if @message %>
        <div class="alert alert-primary" role="alert"><%= @message %></div>
      <% end %>
      <% if @alert_message %>
        <div class="alert alert-warning" role="alert"><%= @alert_message %></div>
      <% end %>
      <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" id="url" class="form-control" placeholder="http://" name="url">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="extract-audio" name="extract-audio" checked>
        <label class="form-check-label" for="extract-audio" data-toggle="tooltip" title="Extract audio from the video. The file will contain audio only.">
          Extract audio
        </label>
      </div>

      <label for="audio-format" class="form-label">Audio format (when "Extract audio" is enabled)</label>
      <div id="audio-format">
        <% @audio_formats.each do |f| %>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="audio-format"
                 id="audio-format-<%= f %>"
                 value="<%= f %>"
                 data-toggle="tooltip"
                 title="<%= case f
                            when "best"
                              "The audio is extracted as-is. No conversion."
                            else
                              "#{f} format"
                            end %>"
                 <% if f == "mp3" %>checked<% end %>
          >
          <label class="form-check-label" for="audio-format-<%= f %>"><%= f %></label>
        </div>
        <% end %>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <script>
        $(document).ready(function(){
          $("#extract-audio").change(function() {
            $("#audio-format input:radio").attr("disabled", !this.checked);
          });
        });
      </script>
    </fieldset>
  </form>
</div>
